services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 9101:9101  # JMX
      - 9092:9092  # Kafka
    environment:
      # Listeners:
      # PLAINTEXT_HOST -> Expose kafka to the host network
      # PLAINTEXT -> Used by kafka for inter broker communication / containers
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://karapace-schema-registry:8081
      # Metrics:
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      # Keep in sync with tests/integration/conftest.py::configure_and_start_kafka
      KAFKA_BROKER_ID: 1
      KAFKA_BROKER_RACK: "local"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_INTER_BROKER_PROTOCOL_VERSION: 2.4
      KAFKA_LOG_CLEANER_ENABLE: "true"
      KAFKA_LOG_MESSAGE_FORMAT_VERSION: 2.4
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 300000
      KAFKA_LOG_SEGMENT_BYTES: 209715200
      KAFKA_NUM_IO_THREADS: 8
      KAFKA_NUM_NETWORK_THREADS: 112
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_NUM_REPLICA_FETCHERS: 4
      KAFKA_NUM_RECOVERY_THREADS_PER_DATA_DIR: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_SOCKET_RECEIVE_BUFFER_BYTES: 102400
      KAFKA_SOCKET_REQUEST_MAX_BYTES: 104857600
      KAFKA_SOCKET_SEND_BUFFER_BYTES: 102400
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_NUM_PARTITIONS: 16
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: 6000
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

  karapace-schema-registry:
    image: ghcr.io/aiven-open/karapace:develop
    build:
      context: ..
      dockerfile: container/Dockerfile
      args:
        KARAPACE_VERSION: $KARAPACE_VERSION
    entrypoint:
      - python3
      - -m
      - schema_registry
    depends_on:
      - kafka
      - opentelemetry-collector
    ports:
      - 8081:8081
    environment:
      KARAPACE_KARAPACE_REGISTRY: true
      KARAPACE_ADVERTISED_HOSTNAME: karapace-schema-registry
      KARAPACE_BOOTSTRAP_URI: kafka:29092
      KARAPACE_PORT: 8081
      KARAPACE_HOST: 0.0.0.0
      KARAPACE_CLIENT_ID: karapace-schema-registry
      KARAPACE_GROUP_ID: karapace-schema-registry
      KARAPACE_MASTER_ELIGIBILITY: true
      KARAPACE_TOPIC_NAME: _schemas
      KARAPACE_LOG_LEVEL: INFO
      KARAPACE_COMPATIBILITY: FULL
      KARAPACE_STATSD_HOST: statsd-exporter
      KARAPACE_STATSD_PORT: 8125
      KARAPACE_KAFKA_SCHEMA_READER_STRICT_MODE: false
      KARAPACE_KAFKA_RETRIABLE_ERRORS_SILENCED: true
      KARAPACE_TAGS__APP: karapace-schema-registry
      KARAPACE_TELEMETRY__OTEL_ENDPOINT_URL: http://opentelemetry-collector:4317
      KARAPACE_TELEMETRY__OTEL_EXPORTER: OTLP
      KARAPACE_TELEMETRY__RESOURCE_SERVICE_NAME: karapace-schema-registry
      KARAPACE_TELEMETRY__RESOURCE_SERVICE_INSTANCE_ID: sr1
      KARAPACE_TELEMETRY__RESOURCE_TELEMETRY_SDK_NAME: opentelemetry
      KARAPACE_TELEMETRY__RESOURCE_TELEMETRY_SDK_LANGUAGE: python
      KARAPACE_TELEMETRY__RESOURCE_TELEMETRY_SDK_VERSION: 1.27.0

  karapace-rest-proxy:
    image: ghcr.io/aiven-open/karapace:develop
    build:
      context: ..
      dockerfile: container/Dockerfile
      args:
        KARAPACE_VERSION: $KARAPACE_VERSION
    entrypoint:
      - python3
      - -m
      - karapace.karapace_all
    depends_on:
      - kafka
      - karapace-schema-registry
    ports:
      - 8082:8082
    environment:
      KARAPACE_KARAPACE_REST: true
      KARAPACE_PORT: 8082
      KARAPACE_HOST: 0.0.0.0
      KARAPACE_ADVERTISED_HOSTNAME: karapace-rest-proxy
      KARAPACE_BOOTSTRAP_URI: kafka:29092
      KARAPACE_REGISTRY_HOST: karapace-schema-registry
      KARAPACE_REGISTRY_PORT: 8081
      KARAPACE_ADMIN_METADATA_MAX_AGE: 0
      KARAPACE_LOG_LEVEL: INFO
      KARAPACE_STATSD_HOST: statsd-exporter
      KARAPACE_STATSD_PORT: 8125
      KARAPACE_KAFKA_SCHEMA_READER_STRICT_MODE: false
      KARAPACE_KAFKA_RETRIABLE_ERRORS_SILENCED: true

  karapace-cli:
    image: ghcr.io/aiven-open/karapace:cli
    build:
      context: ..
      dockerfile: container/Dockerfile.dev
      args:
        KARAPACE_VERSION: $KARAPACE_VERSION
        PYTHON_VERSION: $PYTHON_VERSION
        RUNNER_UID: $RUNNER_UID
        RUNNER_GID: $RUNNER_GID
    tty: true
    depends_on:
      - kafka
      - karapace-schema-registry
      - karapace-rest-proxy
    volumes:
      - ../tests:/opt/karapace/tests
      - ../pytest.ini:/opt/karapace/pytest.ini
      - ../mypy.ini:/opt/karapace/mypy.ini
      - ../.pre-commit-config.yaml:/opt/karapace/.pre-commit-config.yaml
      - ../.coveragerc:/opt/karapace/.coveragerc
      - ../.coverage.3.10:/opt/karapace/coverage/.coverage.3.10
      - ../.coverage.3.11:/opt/karapace/coverage/.coverage.3.11
      - ../.coverage.3.12:/opt/karapace/coverage/.coverage.3.12
    environment:
      - COVERAGE_FILE
      - COVERAGE_RCFILE=/opt/karapace/.coveragerc

  prometheus:
    image: prom/prometheus
    command:
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=1d
      - --enable-feature=otlp-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml
    depends_on:
      - karapace-schema-registry
      - karapace-rest-proxy
      - opentelemetry-collector
    ports:
      - 9090:9090

  grafana:
    image: grafana/grafana
    environment:
      GF_SECURITY_ADMIN_USER: karapace
      GF_SECURITY_ADMIN_PASSWORD: karapace
      GF_PATHS_PROVISIONING: /grafana/provisioning
    ports:
      - 3000:3000
    volumes:
      - ./grafana/dashboards:/grafana/dashboards
      - ./grafana/provisioning:/grafana/provisioning

  statsd-exporter:
    image: prom/statsd-exporter
    command: --statsd.listen-udp=:8125 --web.listen-address=:9102
    ports:
      - 9102:9102
      - 8125:8125/udp

  opentelemetry-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: --config=/etc/collector-config.yaml
    volumes:
      - ./opentelemetry/collector-config.yaml:/etc/collector-config.yaml
    ports:  # 4317=OTLP-gRPC-receiver | 8888=prom-collector-metrics | 8889=prom-exporter-metrics
      - 4317:4317
      - 8888:8888
      - 8889:8889

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:  # 6831=agent | 16686=UI | 14268=spans | 4317=metrics (not exposing, clashes with opentelemetry-collector)
      - 6831:6831/udp
      - 16686:16686
      - 14268:14268
