# Ignore everything by default. Making as few files as possible part of default context
# ensures only relevant changes will evict layer cache.
*

# Include source directories and files required for building.
!karapace
!requirements/*.txt
!setup.py
!version.py
!README.rst
!container/start.sh
!container/healthcheck.py

# Ignore some files in source directories.
**/.DS_Store
**/Thumbs.db
**/*.pyc
**/*.pyo
**/__pycache__
