*.pyc
*.pyo
*~
/.cache
/.coverage
/.project
/.pydevproject
/.pytest_cache/
.idea
__pycache__/
/build/
/dist/
src/karapace.egg-info/
/karapace-rpm-src.tar
/kafka_*.tgz
/kafka_*/
venv
*.so
src/karapace/core/version.py
.run
.python-version
.hypothesis/
.DS_Store
*.coverage.*
