*.pyc
*.pyo
*~
/.cache
/.coverage
/.project
/.pydevproject
/.pytest_cache/
.idea
__pycache__/
/build/
/dist/
/karapace.egg-info/
/karapace-rpm-src.tar
/kafka_*.tgz
/kafka_*/
venv
/karapace/version.py
.run
