minimum_pre_commit_version: 2.9.2

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: ^tests/integration/test_data/.*
  - id: end-of-file-fixer
    exclude: ^tests/integration/test_data/.*
  - id: debug-statements

# https://pre-commit.com/#repository-local-hooks
- repo: local
  hooks:
  - id: copyright
    name: copyright
    language: system
    types: [ python ]
    exclude: __init__\.py
    entry: ./copyright.sh

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.2
  hooks:
  - id: shellcheck

- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.6.0-2
  hooks:
  - id: shfmt

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [ --py38-plus ]

- repo: https://github.com/pycqa/autoflake
  rev: v2.0.2
  hooks:
    - id: autoflake
      args:
        - --in-place
        - --remove-all-unused-imports
        - --ignore-init-module-imports

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.1.1
  hooks:
  - id: mypy
    pass_filenames: false
    additional_dependencies:
    - types-protobuf

- repo: https://github.com/PyCQA/pylint
  # Note: pre-commit autoupdate changes to an alpha version. Instead, manually find the
  # latest stable version here: https://github.com/pylint-dev/pylint/releases
  rev: v2.17.1
  hooks:
  - id: pylint
