[MASTER]
jobs=4
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
enable=
  useless-suppression,

disable=
  duplicate-code,
  fixme,
  import-outside-toplevel,
  invalid-field-call,
  invalid-name,
  missing-docstring,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-statements,
  wrong-import-order,
  import-error,
  consider-using-f-string,
  use-implicit-booleaness-not-comparison,
  unspecified-encoding,
  no-name-in-module,
  use-list-literal,
  use-dict-literal,
  no-value-for-parameter,
  relative-beyond-top-level,


[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
score=no
