[MASTER]
jobs=4
extension-pkg-allow-list=ujson

[MESSAGES CONTROL]
enable=
  useless-suppression,

disable=
  bad-continuation,
  duplicate-code,
  fixme,
  import-outside-toplevel,
  invalid-name,
  missing-docstring,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-statements,
  too-public-methods,
  wrong-import-order,

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
score=no
