include karapace/*.py
include karapace.json
include karapace.unit
include tests/*.py
include scripts/*
include README.rst
include pyproject.toml
include LICENSE
include MANIFEST.in
include *.so

recursive-exclude examples *~ *.pyc \.*
