# linters and formatters
isort==4.3.10
pycodestyle==2.6.0
pylint==2.7.4
flake8==3.8.4
mypy==0.812
black==22.3.0

# testing
pytest==6.2.5
pytest-xdist[psutil]==2.2.1
pytest-timeout==1.4.2
pdbpp==0.10.2

# workflow
pre-commit>=2.2.0

# runtime requirements
-r requirements.txt
