# PyPI dependencies
accept-types==0.4.1
aiohttp==3.8.1
aiokafka==0.7.2
avro==1.11.0
jsonschema==3.2.0
networkx==2.5
protobuf==3.19.5
python-dateutil==2.8.2

# Patched dependencies
#
# Note: It is important to use commits to reference patched dependencies. This
# has two advantages:
# - Reproducible builds
# - The contents of the file change, which invalidates the existing docker
#   images and forces a new image generation.
#
git+https://github.com/aiven/kafka-python.git@b9f2f78377d56392f61cba8856dc6c02ae841b79

# Indirect dependencies
aiosignal==1.2.0 # aiohttp
async-timeout==4.0.2 # aiohttp
attrs==21.4.0 # jsonschema
certifi==2021.10.8 # requests, urllib3
chardet==3.0.4 # requests
charset-normalizer==2.0.11 # aiohttp, requests
decorator==5.1.1 # networkx
frozenlist==1.3.0 # aiohttp, aiosignal
idna==3.3 # aiohttp, requests, urllib3
lz4==3.0.2 # kafka
multidict==6.0.2 # aiohttp, yarl
python-snappy==0.6.1 # kafka
pyrsistent==0.18.1 # jsonschema
requests==2.27.1 # jsonschema
six==1.16.0 # dateutil
urllib3==1.26.8 # requests
yarl==1.7.2 # aiohttp
zstandard==0.18.0 # kafka
