# PyPI dependencies
accept-types==0.4.1
aiohttp-socks==0.5.5
aiokafka==0.6.0
jsonschema==3.2.0
lz4==3.0.2
requests==2.23.0
networkx==2.5

# Patched dependencies
#
# Note: It is important to use commits to reference patched dependencies. This
# has two advantages:
# - Reproducible builds
# - The contents of the file change, which invalidates the existing docker
#   images and forces a new image generation.
#
git+https://github.com/aiven/avro.git@513b153bac5040af6bba5847aef202adb680b67b#subdirectory=lang/py3/
git+git://github.com/aiven/kafka-python.git@b9f2f78377d56392f61cba8856dc6c02ae841b79

pytest~=6.2.2
pip~=21.0.1
argparse~=1.4.0
toml~=0.10.1
zlib~=1.2.11
wheel~=0.36.2
openssl~=1.1.1j
py~=1.10.0
attrs~=20.3.0
avro-python3~=1.11.0+snapshot
idna~=2.10
certifi~=2020.12.5
chardet~=3.0.4
urllib3~=1.25.11
decorator~=4.4.2
pyrsistent~=0.17.3
six~=1.15.0
setuptools~=50.3.0
zipp~=3.4.0
filelock~=3.0.12
