# linters and formatters
isort==4.3.10
pycodestyle==2.6.0
pylint==2.6.0
yapf==0.30.0
mypy==0.800
flake8==3.8.4

# testing
pytest==6.2.2
pytest-xdist[psutil]==2.2.1
pytest-timeout==1.4.2

# workflow
pre-commit>=2.2.0

# runtime requirements
-r requirements.txt
