.top-menu {
    display: flex;
    flex-direction: row;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 35px;
    justify-content: flex-end;
}


body {
	font-family: 'Inter', sans-serif;
	background: #F9F9FF;
}

.btn-custom {
  color: #FFFEFE;
  background-color: #19191D;
  border-color: #19191D;
}

.btn-custom:hover {
  color: #FFFEFE;
  background-color: #02569A;
  border-color: #02569A;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
	font-size: 1rem;
	font-weight: 500;
	color: #3A3A44;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #02569A;
}

i {
	margin-right: 4px;
}

.navbar {
	padding: 1.25rem 0;
}

h1 {
	font-size: 72px;
	color: #000;
	font-weight: 500;
}

h2 {
	font-size: 44px;
	color: #000;
	font-weight: 500;
}

h3 {
	font-size: 28px;
	color: #000;
	font-weight: 500;
}

.karapace-desc {
	font-size: 14px;
	line-height: 20px;
	color: #000;
	margin-top: 40px;
	margin-bottom: 40px;
}

.copyright {
	color: #4A4B57;
}

.trademark {
	color: #9696A0;
}

.mt-5 {
	margin-top: 1rem!important;
}

.footer-logo {
	margin-right: 5px;
}

.navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
}

.navbar-toggler {
	border-radius: 50px;
	height: 51px;
	background: #D2D2D6;
    border-color: #D2D2D6;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.software-trademark {
	text-align: right;
}


@media (max-width:576px) {
	.mt-5 {
		margin-top: 0!important;
	}
	
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 16px;
	}
	
	.karapace-desc {
		margin-top: 20px;
		margin-bottom: 0;
	}
	
	.btn-custom {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.navbar-expand-lg .navbar-nav .nav-link {
		text-align: center;
		font-size: 1.5rem;
	}
	
	.copy-trademark {
		text-align: center;
		font-size: 12px;
	}
	
	.software-trademark {
		margin-top: 5px;
		text-align: center;
		line-height: 14px;
	}
}
