<style>
  #hamburger-menu {
    display: none;
  }

  #hamburger-menu #footer-container {
    flex-direction: column-reverse;
    align-items: center;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
  }

  #hamburger-menu #footer-container #logo-container {
    margin-top: 2rem;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }
</style>

<script>
  function menuToggler() {
    var menu = document.getElementById("hamburger-menu");
    var overlay = document.getElementById("overlay");
    menu.style.display = menu.style.display === "flex" ? "none" : "flex";
    overlay.style.display = menu.style.display === "flex" ? "block" : "none";
  }
</script>

<nav class="md:hidden">
  <a href="javascript:void(0);" onclick="menuToggler()">
    <svg
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="20" cy="20" r="20" fill="black" />
      <rect x="10" y="13" width="20" height="2" fill="white" />
      <rect x="10" y="19" width="20" height="2" fill="white" />
      <rect x="10" y="25" width="20" height="2" fill="white" />
    </svg>
  </a>
  <div
    id="hamburger-menu"
    class="py-8 px-4 absolute flex-col items-center top-0 left-0 right-0 bg-white z-10"
  >
    <div class="flex justify-between w-full items-center">
      <svg
        width="25"
        height="31"
        viewBox="0 0 25 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.2723 3.57895V3.62024V3.57895C21.9542 3.57895 21.6222 3.63401 21.304 3.77166L6.47411 9.95223C5.54725 10.3377 4.95239 11.2324 4.95239 12.2372V22.0656C4.95239 23.0704 5.56108 23.9652 6.47411 24.3506L21.304 30.5312C21.6222 30.6688 21.9542 30.7239 22.2723 30.7239C23.5866 30.7239 24.7624 29.664 24.7624 28.2462V6.05668C24.7624 4.6251 23.5866 3.57895 22.2723 3.57895ZM23.9739 7.88745C24.0569 7.80486 24.1399 7.7085 24.2091 7.62591V26.5806L17.4028 14.1093L23.9739 7.88745ZM9.93257 14.3571V9.11255L19.7961 4.99676L9.93257 14.3571ZM9.93257 21.1984L13.6815 17.647L20.0728 29.3611C20.0866 29.3887 20.1004 29.4162 20.1143 29.4437L9.93257 25.2041V21.1984Z"
          fill="#303030"
        />
      </svg>

      <a href="javascript:void(0);" onclick="menuToggler()">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="20" cy="20" r="20" fill="black" />
          <rect
            x="13.636"
            y="12.2218"
            width="20"
            height="2"
            transform="rotate(45 13.636 12.2218)"
            fill="white"
          />
          <rect
            width="20"
            height="2"
            transform="matrix(-0.707107 0.707107 0.707107 0.707107 26.3638 12.2218)"
            fill="white"
          />
        </svg>
      </a>
    </div>
    <div class="flex flex-col gap-6 items-center w-full mt-8 text-xl">
      {% include "header-links.html" %}
    </div>
    {% include "footer.html" %}
  </div>
  <div id="overlay"></div>
</nav>
