{% extends "base.html" %}

{% block body -%}
{{ super() }}
{% include "partials/icons.html" %}

{% if theme_announcement -%}
<div class="announcement">
    <aside class="announcement-content">
        {% block announcement %} {{ theme_announcement }} {% endblock announcement %}
    </aside>
</div>
{%- endif %}

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand" href="/index.html">
						<img src="_static/images/karapace-logo.svg" height="49" />
					</a>
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
					
					<div class="collapse navbar-collapse mt-4 mt-lg-0" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link" href="/about.html">About</a>
							</li>
							<li class="nav-item">	
								<a class="nav-link" href="/quickstart.html">Documentation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/install.html">Install</a>
							</li>
						</ul>
						<div class="d-flex ms-lg-3">
								<a class="btn btn-custom" href="https://github.com/aiven/karapace/blob/master/README.rst"><i class="bi bi-github"></i> Karapace on GitHub</a>
						</div>
					</div>
				</div>
			</nav>
		
			<section class="mt-5">
				<div class="container">
					<div class="row">
                    {% block content %}
                    {% if title=="Karapace" %}
						<div class="col-md-6 py-6">
                            {{ body }}
						</div>
						<div class="col-md-6 py-6">
							<img class="pt-7 pt-md-0 img-fluid mt-3" src="_static/images/karapace-hero.png" />
						</div>
                    {% else %}
                        {{ body }}
                    {% endif %}
                    {% endblock %}
					</div>
				</div>
			</section>
            <footer class="footer mt-auto py-3 bg-white"> 
				<div class="container">
                {% block footer %}
				<div class="row copy-trademark">
					<div class="col-md-3">
						<img src="_static/images/aiven_footer.png" class="footer-logo img-fluid" /><small class="copyright">© Aiven</small>
					</div>
					
					<div class="col-md-9 software-trademark">
						<small class="trademark">Apache Kafka is either a registered trademark or a trademark of the Apache Software Foundation in the United States and/or other countries.</small>
					</div>
				</div>
                {% endblock footer %}
                </div>
            </footer>
        </div>
        <aside class="toc-drawer{% if furo_hide_toc %} no-toc{% endif %}">
            {% block right_sidebar %}
            {% if not furo_hide_toc %}
            <div class="toc-sticky toc-scroll">
                <div class="toc-title-container">
          <span class="toc-title">
            {{ _("Contents") }}
          </span>
                </div>
                <div class="toc-tree-container">
                    <div class="toc-tree">
                        {{ toc }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endblock right_sidebar %}
        </aside>
    </div>
</div>
{%- endblock %}