# PyPI dependencies
accept-types<1
aiohttp<4
aiokafka<1
confluent-kafka==2.3.0
isodate<1
jsonschema<5
lz4
networkx<4
protobuf<4
pyjwt>=2.4.0<3
python-dateutil<3
python-snappy
tenacity<9
typing-extensions
ujson<6
watchfiles<1
xxhash~=3.3
rich~=13.6.0
cachetools==5.3.1
prometheus-client
zstandard

# Patched dependencies
#
# Note: It is important to use commits to reference patched dependencies. This
# has two advantages:
# - Reproducible builds
# - The contents of the file change, which invalidates the existing docker
#   images and forces a new image generation.
#
https://github.com/aiven/kafka-python/archive/1b95333c9628152066fb8b1092de9da0433401fd.tar.gz
https://github.com/aiven/avro/archive/5a82d57f2a650fd87c819a30e433f1abb2c76ca2.tar.gz#subdirectory=lang/py
