# runtime requirements
-r requirements.txt

# Developer QoL
pdbpp

# testing
filelock
pytest
pytest-cov
pytest-xdist[psutil]
pytest-timeout
pytest-random-order
psutil
requests
hypothesis

# performance test
locust

# Sentry SDK
sentry-sdk

# Golang
setuptools-golang
