# runtime requirements
-r requirements.txt

# Developer QoL
pdbpp

# testing
filelock
pytest
pytest-xdist[psutil]
pytest-timeout
psutil
requests
hypothesis

# performance test
locust

# Sentry SDK
sentry-sdk
