name: Smoke test Docker image

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  smoke-test-container:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    env:
      BUILDKIT_PROGRESS: plain
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        # Need fetch-depth 0 to fetch tags, see https://github.com/actions/checkout/issues/701
        with:
          fetch-depth: 0

      - name: Install requirements
        run: make install

      - name: Resolve Karapace version
        run: |
          source ./venv/bin/activate
          KARAPACE_VERSION=$(python -c "from karapace import version; print(version.__version__)")
          echo KARAPACE_VERSION=$KARAPACE_VERSION >> $GITHUB_ENV

      - name: Build container
        run: docker build --build-arg KARAPACE_VERSION=${{ env.KARAPACE_VERSION }} --file=container/Dockerfile .

      - name: Run container
        run: docker compose --file=container/compose.yml up --build --wait --detach

      - name: Check container status
        run: docker ps -a

      - name: Show container logs (Kafka + others)
        run: docker compose --file=container/compose.yml logs --no-color

      - name: Smoke test registry
        run: bin/smoke-test-registry.sh || (docker compose -f container/compose.yml logs && exit 1)

      - name: Smoke test REST proxy
        run: bin/smoke-test-rest.sh || (docker compose -f container/compose.yml logs && exit 1)
