name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      # required for pylint
      - name: Generate version.py
        run: make karapace/version.py

      - name: Run all pre-commit hooks
        run: pre-commit run --all-files

  copyright:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@master

        - name: Enforce copyright headers
          run: make copyright
